<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <!--
        <context-param>
            <param-name>heartbeatInterval</param-name>
            <param-value>60</param-value>
        </context-param>
    -->    
    <display-name>SOPDI</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
        
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>Sopdi</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>com.simpletecno.sopdi.SopdiUI</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>com.simpletecno.sopdi.AppWidgetSet</param-value>
        </init-param>
    </servlet>
     <env-entry>
        <env-entry-name>DTE_PATH</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/Users/joseaguirre/temp/</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>MODO</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>OnLine/</env-entry-value>
        <!--        <env-entry-value>StandAlone/</env-entry-value> -->
    </env-entry>
    <env-entry>
        <env-entry-name>EMAIL_PDF_ACTIVO</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>EMAIL_ACTIVO</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>SMTP_HOST_NAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>nisa.com.gt</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>SMTP_HOST_PORT</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>587</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>SMTP_FROM</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>sopdi@nisa.com.gt</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>SMTP_AUTH_REQ</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>SMTP_AUTH_USER</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>sopdi@nisa.com.gt</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>SMTP_AUTH_PWD</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>2{v5I#mZC0Q7</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>DB_URL</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
<!--        <env-entry-value>jdbc:mysql://localhost:3306/sopdi_fundamex?characterEncoding=utf8</env-entry-value>  -->
        <env-entry-value>jdbc:mysql://localhost:3306/sopdi?zeroDateTimeBehavior=convertToNull</env-entry-value>
        <!--<env-entry-value>jdbc:mysql://65.111.164.179:3306/sopdi</env-entry-value>-->
    </env-entry>
    <env-entry>
        <env-entry-name>DB_USERNAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <!--<env-entry-value>jaguirre</env-entry-value>-->
        <env-entry-value>root</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>DB_PASSWORD</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>rootroot</env-entry-value>
        <!--<env-entry-value>Jose3107</env-entry-value>-->
    </env-entry>
    <env-entry>
        <env-entry-name>DBDATASOURCE</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
            <env-entry-value>MYSQL</env-entry-value>
<!--            <env-entry-value>MSSQL</env-entry-value>  -->
    </env-entry>
</web-app>
